<!DOCTYPE html>
<html lang="en-US">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/login.css" />
    <script type="text/javascript" src="/js/login.js"></script>
</head>

<body>    
<% include templates/facebook.ejs %>
    <div class="container">
        <img src="/res/firstBlurred.jpg" class="mx-auto d-block" style="height: 100vh; min-height: 100vh">
        <div class="center">
            <div class="box">
                <h1>
                    All products:
                </h1>
                <button id="beforeButton" type="button" class="btn btn-primary" onclick="addNewProduct();">
                    Add new product
                </button>
                <button id="saveProductsButton" type="button" class="btn btn-primary" onclick="saveProducts();">
                    Save products
                </button>
                <form id="formSaveProducts" class="d-none" action="/admin/<%= shop._id %>/products" method="post">
                    <input id="productsData" type="hidden" name="products" />
                </form>
            </div>
        </div>
    </div>
</body>

<% include templates/footer.ejs %>
<script>
    var products = [];
    products = <%- JSON.stringify(products) %>;

    products.forEach(function (product) {
        addNewProduct(product);
    });

    function addNewProduct(product = {_id: new Date().getTime(), image: '/res/image-not-found.jpg', name: 'no name', price: 0.0, new: true}) {

        console.log(product);

        delete product.new;

        const newElement = '' +
            '<div class="card text-white bg-dark" onchange="changeProduct(this, &quot;' + product._id + '&quot;)">' +
                '<img id="image' + product._id + '" class="card-img-top" src="' + product.image + '" alt="Card image cap">' +
                '<div class="card-body">' +
                    '<div class="input-group">' +
                        '<input id="file' + product._id + '" class="active" type="file" autocomplete="off" onblur="checkInput(this)" onchange="inputOnChange(&quot;' + product._id + '&quot;);" />' +
                        '<input class="active" type="hidden" id="logo' + product._id + '" name="image" />' +
                        '<label for="logoPath' + product._id + '">Logo</label>' +
                    '</div>' +
                    '<div class="input-group">' +
                        '<input id="name' + product._id + '" class="card-title active" type="text" onblur="checkInput(this)" value="' + product.name + '" />' +
                        '<label for="name' + product._id + '">Name</label>' +
                    '</div>' +
                    '<div class="input-group">' +
                        '<input id="price' + product._id + '" class="card-title active" type="number" step="any" onblur="checkInput(this)" value="' + product.price + '" />' +
                        '<label for="price' + product._id + '">Price</label>' +
                    '</div>' +
                '</div>' +
            '</div>';

        console.log(newElement);

        $("#beforeButton").before(newElement);

        products.push(product);
    }

    //Array append + onchange each input... bleah

    function inputOnChange (id) {
        const evt = document.getElementById('file' + id);

        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('image'+ id).src = fr.result;
                document.getElementById('logo' + id).value = fr.result;
            }
            fr.readAsDataURL(files[0]);
        } else {
            // fallback -- perhaps submit the input to an iframe and temporarily store
            // them on the server until the user's session ends.
        }
    }

    function changeProduct(e, id) {
        var index = products.findIndex(function(element) {
            return element._id == id;
        });

        products[index].changed = true;
        products[index].image = $(e).find('#image' + id)[0].src;
        products[index].name = $(e).find('#name' + id)[0].value;
        products[index].price = $(e).find('#price' + id)[0].value;

        console.log(products);
    }

    function saveProducts() {
        $('#productsData').val(JSON.stringify(products));

        console.log($('#productsData').val());

        $('#formSaveProducts').submit();
    }
</script>
</html>