<!DOCTYPE html>
<html lang="en-US">
<head>
    <% include templates/head.ejs %>

    <link rel="stylesheet" href="/css/login.css"/>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body>    
<script>
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);

            if (response.status === 'connected') {            
                fbLogin();
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function() {
            FB.init({
                appId      : '2126043384293790',
                cookie     : true,
                xfbml      : true,
                status     : true,
                version    : 'v2.12'
            });
            
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
                  console.log(response);
            });


            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


function fbLogin() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', {
        fields: 'first_name, last_name, email'
    }, function(response) {
        console.log('Successful login for: ' + response.first_name);
        console.log('Full response:', response);

        var xhttp = new XMLHttpRequest();

        xhttp.open("POST", "/auth/login", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("type=fb&email=" + encodeURIComponent(response.email) + "&fbid=" + encodeURIComponent(response.id) + "&firstName=" + encodeURIComponent(response.first_name) + "&lastName=" + encodeURIComponent(response.last_name));
    });
}
    </script>
    <div class="container-fluid">
        <img src="/res/firstBlurred.jpg" class="mx-auto d-block" style="height: 100vh; min-height: 100vh">
        <div class="center">
            <div class="box">
                <h1>Log In</h1>
                <form action="/auth/login" method="post">
                    <div class="input-group">
                        <input type="email" id="email" name="email" autocomplete="off" onblur="checkInput(this)" />
                        <label for="email">Email</label>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" onblur="checkInput(this)" />
                        <label for="password">Password</label>
                    </div>
                    <input type="hidden" value="shoffy"/>
                    <input type="submit" value="Enter" />
                    <div>
                        <button type="button" class="btn btn-link">Lost Password?</button>
                        <a href="/auth/signup">
                            <button type="button" class="btn btn-link">Signup</button>
                        </a>
                    </div>
                </form>
                <!--
                    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
                -->
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true">
</fb:login-button>
            </div>
        </div>
    </div>
</body>
<script>


    
</script>
</html>
